<div id="content" class="col-sm-9 checkout">
	<div class="alert alert-dismissible"
		th:classappend="${alertModel.alert}"
		th:style="${alertModel.display?'display: block;':'display:none'}">
		[[${alertModel.content}]]
		<button type="button" class="close" data-dismiss="alert">×</button>
	</div>
	<h1>Giỏ Hàng</h1>
	<form action="" method="post" enctype="multipart/form-data">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center">Hình ảnh</td>
						<td class="text-left">Tên sản phẩm</td>
						<td class="text-left">Mã sản phẩm</td>
						<td class="text-left">Số lượng</td>
						<td class="text-right">Giá tiền</td>
						<td class="text-right">Tổng tiền</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="item: ${cart.items}">
						<tr>
							<td class="text-center"><a
								th:href="@{|/san-pham/${item.product.Namesearch}|}"><img
									width="100px" height="100px"
									th:src="@{|/assets/images/imageProduct/${item.product.image1}|}"
									th:title="${item.product.name}" class="img-thumbnail" /></a></td>
							<td class="text-left"><a
								th:href="@{|/san-pham/${item.product.Namesearch}|}">[[${item.product.name}]]</a></td>
							<td class="text-left">[[${item.product.code}]]</td>
							<td class="text-left">
								<form th:action="@{|/cart/update/${item.id}|}" method="post">
									<div class="cart_input_block input-group btn-block"
										style="max-width: 200px;">
										<input type="text" name="quantity" th:value="${item.quality}"
											size="1" class="form-control" /> <span
											class="input-group-btn">
											<button th:formaction="@{|/cart/update/${item.id}|}"
												type="submit" data-toggle="tooltip" title="Cập nhật"
												class="btn btn-primary">
												<i class="fa fa-refresh"></i>
											</button>
											<button th:formaction="@{|/cart/remove/${item.id}|}"
												type="submit" data-toggle="tooltip" title="Xóa sản phẩm"
												class="btn btn-danger">
												<i class="fa fa-times-circle"></i>
											</button>
										</span>
									</div>
								</form>
							</td>
							<td class="text-right">[[${#numbers.formatInteger(item.product.price,3,'POINT')}]]</td>
							<td class="text-right">[[${#numbers.formatInteger(item.product.price
								* item.quality,3,'POINT')}]]</td>
						</tr>
					</th:block>
				</tbody>

			</table>
		</div>
	</form>
	<br />
	<div class="row">
		<div class="col-sm-4 col-sm-offset-8">
			<table class="table table-bordered">
				<tr>
					<td class="text-left cart-total-title">Tạm tính:</td>
					<td class="text-right cart-total-price">[[${#numbers.formatInteger(total,total==0?0:3,'POINT')}]]</td>
				</tr>
				<tr>
					<td class="text-left cart-total-title">Giảm giá:</td>
					<td class="text-right cart-total-price">[[${#numbers.formatInteger(cart.discount.price,cart.discount.price==0?0:3,'POINT')}]]</td>
				</tr>
				<tr>
					<td class="text-left cart-total-title">Tổng tiền:</td>
					<td class="text-right cart-total-price">[[${#numbers.formatInteger(cart.amount,cart.amount==0?0:3,'POINT')}]]</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="buttons clearfix">
		<div class="pull-left">
			<a th:href="@{/index}" class="btn btn-default">Tiếp tục mua hàng</a>
		</div>
		<div class="pull-right">
			<a th:href="@{/shop/cart/checkout}" class="btn btn-primary"
				th:classappend="${cart.map.isEmpty()?'disabled':''}">Thanh toán</a>
		</div>
	</div>
</div>